@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
}

*::selection {
  @apply bg-secondary text-dark;
}

body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
  scroll-behavior: smooth;
}

html {
  height: -webkit-fill-available !important;
  @apply scrollbar-none;
}

a,
a:visited,
a:focus,
button,
button:visited,
button:focus {
  @apply focus:outline-none outline-none ring-0 outline-offset-0 focus:outline-offset-0;
}

.styledText {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 500% 500%;
  animation: zoom 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.scroll-text {
  animation: zing cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.scroll-text:nth-child(1) {
  animation-duration: 0.4s;
}
.scroll-text:nth-child(2) {
  animation-duration: 0.6s;
}
.scroll-text:nth-child(3) {
  animation-duration: 0.8s;
}
.scroll-text:nth-child(4) {
  animation-duration: 0.4s;
}
.scroll-text:nth-child(5) {
  animation-duration: 0.6s;
}
.scroll-text:nth-child(6) {
  animation-duration: 0.8s;
}

@keyframes zing {
  0% {
    color: rgb(0 191 179 / 1);
    transform: scaleY(1.5) scaleX(0.75) rotate(0);
  }
  50% {
    color: currentColor;
    transform: scaleY(1.5) scaleX(0.75) rotate(3deg);
  }

  100% {
    color: rgb(255 0 102 /1);
    transform: scaleY(1) scaleX(1.25) rotate(0);
  }
}

@keyframes zoom {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 300% 100%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.nav-light {
  @apply text-dark bg-light;
}

.nav-dark {
  @apply text-light bg-dark;
}

.light-shadow {
  filter: drop-shadow(0 1px 1rem rgba(255, 255, 255, 0.25));
}

.dark-shadow {
  filter: drop-shadow(0 0 1rem rgba(23, 23, 56, 0.125));
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
  word-spacing: 1.5rem;
  @apply text-sm;
}

.markdown-editor-wrapper {
  @apply flex flex-col items-start list-outside list-[square] justify-start gap-y-3 max-w-4xl markdown-editor w-full whitespace-pre-line;
}

.markdown-editor {
  @apply flex flex-col items-stretch text-sm  opacity-80;
  overflow-wrap: break-word !important;
}

.markdown-editor p {
  @apply leading-relaxed;
}

.markdown-editor code {
  @apply inline-block m-1 px-2 py-1 rounded font-semibold tracking-wide text-current text-primary bg-primary bg-opacity-10;
}

.markdown-editor h1,
.markdown-editor h2,
.markdown-editor h3,
.markdown-editor h4,
.markdown-editor h5,
.markdown-editor h6 {
  @apply font-semibold w-full break-words block capitalize my-4;
}

.markdown-editor blockquote {
  @apply block my-2;
}
.markdown-editor blockquote > * {
  @apply break-words pl-4 border-l-4 border-secondary font-semibold opacity-100;
}

.markdown-editor a {
  opacity: 1 !important;
  @apply text-current inline-block font-semibold break-words underline underline-offset-2 transition-all origin-center hover:text-secondary;
}

.markdown-editor > * > a,
.markdown-editor > * > strong {
  @apply font-semibold;
}

.markdown-editor ol,
.markdown-editor ul {
  list-style-type: disc;
  @apply flex flex-col items-start list-outside ml-4;
}

.markdown-editor li {
  @apply mb-4 last:mb-0 font-normal list-item w-full;
}

.markdown-editor li::marker {
  @apply text-current font-semibold text-lg text-secondary;
}

/* Detail page styles */

.section-wrapper {
  @apply w-full mx-auto flex flex-col items-start justify-start mb-10 px-8 md:px-10;
}

.heading--main {
  @apply text-2xl sm:text-4xl md:text-5xl font-black my-4 w-fit block max-w-sm md:max-w-xl leading-none;
}

.heading--secondary {
  @apply text-lg md:text-xl font-semibold max-w-xl;
}

.heading--sub {
  @apply text-sm  font-semibold;
}

.content--main,
.content--secondary {
  @apply text-sm  leading-snug opacity-80;
}

.content--main {
  @apply max-w-lg w-3/4;
}

.content--secondary {
  @apply w-full;
}

.content--sub {
  @apply w-full text-xs leading-snug opacity-80;
}

.after-line,
.after-line--center {
  @apply relative after:absolute after:bg-secondary after:top-0 after:w-0.5 after:h-full after:z-0 after:animate-pulse;
}

.after-line {
  @apply after:left-4;
}

.after-line--center,
.md\:after-line--center {
  @apply after:left-1/2 after:-translate-x-1/2;
}
